*{
	margin: 0px;
	padding: 0px;
}
.col{
	background: #2882bb;
	height: 60px;
	padding: 0px;
}
.col img{ 
	margin: 0px;
	padding: 0px;
	width: 50px;
	display: inline-block;
}
#login{
	display: inline-block;
	font-family: "宋体";
	margin-left: 10px;
	padding: 0px;
	font-size: 25px;
	line-height: 55px;
	color: white;
}
#box2{
	background: #9cd4e0;
	height: 600px;
}
.col-md-8{

}
.col-md-4{
	margin-top: 100px;
	height: 350px;
	background: white;
}
#tushu{
	margin: 10px auto;
	margin-left: 50px;
	font-size: 30px;

}
#inputAccountExample2{
	margin-top: 20px;
	margin-bottom: 20px;
}
#inputPasswordExample2{
	margin-bottom: 20px;
}
.deng{
	text-align: center;
	width: 350px;
}
